@model IT___Telefaune.Models.SalarieModel

    <form method="" asp-action="">
        <input asp-for="SalarieId" hidden />
        <div class="border p-3">
            <div class="form-group row">
                <h2 class="text-black-50 pl-3">Fiche salarié</h2>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="Nom">Nom</label>
                            <input asp-for="Nom" disabled class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Prenom">Prénom</label>
                            <input asp-for="Prenom" disabled class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="TelephoneFixe">Téléphone fixe</label>
                            <input asp-for="TelephoneFixe" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="TelephonePortable">Téléphone portable</label>
                            <input asp-for="TelephonePortable" disabled class="form-control" />
                            <span asp-validation-for="TelephonePortable" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="Email">Adresse Email</label>
                            <input asp-for="Email" disabled class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="NomSiteWrong">Site</label>
                            <input asp-for="NomSiteWrong" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label asp-for="TypeServiceWrong">Service</label>
                            <input asp-for="TypeServiceWrong" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-8 row">
                            <div class="col">
                                <a class="btn btn-dark" asp-action="Index">Retour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

